* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #07323e, #05987f, #daa84c);
    color: #1d1d1d;     
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px; 
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.links img {
    width: 30px;
    height: auto;
    background: none;
}

.BotãoContato {
    display: flex;
    padding: 10px;
    border-radius: 20px;   
    background-color: #041559;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1.10s;
}

.BotãoContato:hover {
    background-color: #000608;
}

.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.sobre-mim img {
    width: 150px; 
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sobre-mim p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: #050505; 
    max-width: 600px;
    font-size: 16px;
    line-height: 1.6;
}

footer {
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fbf9f9; 
}